<h2>To-Do</h2>
<ul>
  <% @tasks.each do |t| %>
    <li class="task">
      <div class="task-wrapper">
        <label>
          <input type="checkbox">
          <div class="title-date-wrapper">
            <p class="title"><%= t.title %></p>
            <% if t.start.nil?%>
              <p class="date"><%= t.due.strftime(format='%-m/%-d/%C') %></p>
            <% else %>
              <p class="date"><%= t.start.strftime(format='%-m/%-d/%C') %> - <%= t.due.strftime(format='%-m/%-d/%C') %></p>
            <% end %>
          </div>
        </label>
      </div>
    </li>
  <% end %>
  </ul>