 <div class="row">
    <div class="col-md-3">
      <h1>List View</h1>
    </div>
  </div>
  <table class="table">
    <thead class="thead-light">
      <tr class="list_header">
        <th>Title</th>
        <th>Description</th>
        <th>Due</th>
        <th>Start</th>
        <th>Complete?</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |t| %>
        <tr class="task">
          <td class="tasktitle">
            <%= t.title %>
          </td>
          <td class="taskdesc">
            <%= t.description %>
          </td>
          <td class="taskdue">
            <%= t.due %>
          </td>
          <td class="taskstart">
            <%= t.start %>
          </td>
          <td class="taskcomplete">
            <% if !t.complete %>
              <button> Mark as complete
            <% else %>
              <button> Mark as incomplete
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>