<% unless local_assigns[:overdue].empty? %>
  <section>
    <%= render 'tasks_single_section', title: "Overdue", class: "overdue", tasks: local_assigns[:overdue] %>
  </section>
<% end %> 
<section>
  <%= render 'tasks_two_section', title: "Today", class: "today", tasks_due: local_assigns[:today_due], tasks_work: local_assigns[:today_work] %>
</section>
<section>
  <%= render 'tasks_single_section', title: "Upcoming", class: "upcoming", tasks: local_assigns[:upcoming] %>
</section>