<h1>Edit a Task</h1>
#<p>Find me in app/views/tasks/edit.html.erb</p>
<%= form_with model: @task, url: task_path(@task), method: :patch, local: true do |form| %>
    <%= render 'form_fields', f: form, submit_text: 'Update task' %>
<% end %>  