<div class="index-wrapper"> 
    <div id="left-menu" class="menu">
    </div>
    <div id="list-wrapper" class="section"> 
        <% if user_signed_in? %>
            <%= link_to "Create new task", new_task_path, :class => "btn btn-primary" %>
        <% end %>
        <%= render 'list' %>
    </div>
    <div id="slider"></div>
    <div id="calendar-wrapper" class="section"> 
        <%= render 'calendar' %>
    </div>
    <div id="right-menu" class="menu">
<div>
