<div class="index-wrapper"> 
    <div id="left-menu" class="menu">
    </div>
    <div id="list-wrapper"> 
    </div>
    <%# <%= render 'list' %>
    <div id="slider"></div>
    <div id="calendar-wrapper"> 
        <%= render 'calendar' %>
    </div>
    <div id="right-menu" class="menu">
<div>