<div id="modalDialog" class="mid-section">
    <%= render 'new_popup' %>
</div>
<%# <div class="overlay"></div> %>
<div class="index-wrapper"> 
    <div id="left-menu" class="menu">
        <%= image_tag("add.png", id: "btn-add", class: "btn", alt: "Add")%>
    </div>
    <div id="list-wrapper"> 
        <%= render 'list' %>
    </div>
    <div id="slider"></div>
    <div id="calendar-wrapper"> 
        <%= render 'calendar' %>
    </div>
    <div id="right-menu" class="menu">
<div>
