<div class="index-wrapper"> 
    <div id="modalDialog">
        <h1> "hello"</h1>
    </div>
    <div id="left-menu" class="menu">
    <%= link_to(new_task_path, id: "btn-add", alt: "Add") do %>
        <%= image_tag "add.png"%>
    <% end %>
    </div>
    <div id="list-wrapper"> 
        <%= render 'list' %>
    </div>
    <div id="slider"></div>
    <div id="calendar-wrapper"> 
        <%= render 'calendar' %>
    </div>
    <div id="right-menu" class="menu">
<div>
