/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * make sure main is before calendar
 *= require main
 *= require calendar
 *= require tasks 
 *= require_tree .
 *= require_self
 */

:root {
  --bg: #232323;
  --lightest-font: #cccbcb;
  --light-font: #9c9c9c;
  --mid-font: #5e5e5e;
  --subdued: #414141;
  --dark-font: #2c2c2c;
  --mid-dark: #191919;
  --darkest-dark: #111111;
  --notice-bg: #7c7c7c;
  --alert-bg: #b15353;
  --button-primary: #273fac;
  --success: #20bb20;

  --section-gap: 15px;
  --inner-box-padding: 17px;
  --box-corner-rounding: 40px;
  --check-box-size: 17px;

  --calendar-h1-size: 35px;
  --p-size: 20px;
  --smaller-p-size: 15px;
  --h2-size: 40px;
  --h2-padding: 15px;
  --h3-size: 30px;
  --event-p-size: 13px;
}

body {
  margin: 0;
  background-color: none;
  background: var(--bg);
  overflow: hidden;
}

#list-wrapper {
  grid-area: list;
  margin: 0;
  display: grid;
  overscroll-behavior: contain;
  overflow-y: scroll;
  grid-auto-rows: min-content;
}

#calendar-wrapper {
  grid-area: calendar;
  margin: var(--section-gap) var(--section-gap) var(--section-gap) 0;
}

#left-menu {
  grid-area: left-menu;
  display: flex;
  flex-direction: column;
}

#slider {
  width: var(--section-gap);
  grid-area: slider;
}

#left-menu a {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  margin-top: var(--section-gap);
}

#left-menu a img {
  width: 70%;
}

.mid-section {
  background-color: var(--mid-dark);
  border-radius: var(--box-corner-rounding);
  padding: var(--inner-box-padding);
}

/* Titles */
section h2,
.fc .fc-toolbar-title {
  font-family: "Secular One", sans-serif;
  /* text-transform: uppercase; */
  font-weight: 600;
  color: var(--lightest-font);
  font-size: var(--h2-size);
  padding: 0;
  margin: 0;
  /* margin: var(--h2-padding) 0 var(--h2-padding) 0; */
  line-height: 1;
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: var(--p-size);
  margin: 0;
  color: var(--light-font);
}

.menu {
  background-color: var(--darkest-dark);
}

/* @media screen and (min-width: 769px) { */
.index-wrapper {
  display: grid;
  grid-template-areas: "left-menu list slider calendar";
  grid-template-columns: 50px 2fr min-content 5fr;
  grid-template-rows: 100vh auto 100vh 100vh 100vh;
}
/* } */

.centered {
  display: flex;
  justify-content: center;
}

/* Buttons */

button,
.fc .fc-button.fc-button-primary {
  background-color: var(--dark-font);
  border: none;
  opacity: 1;
  font-family: "Azeret Mono", monospace;
  box-shadow: 4px 4px var(--darkest-dark);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 0.2s, background-color 0.2s, transform 0.2s;
}

button:hover,
.fc .fc-button.fc-button-primary:hover {
  background-color: var(--darkest-dark);
  box-shadow: none;
  transform: translate(1px, 1px);
}

/* Alerts */

#alert-wrapper {
  position: absolute;
  bottom: var(--section-gap);
  right: var(--section-gap);
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.alert-pop-up {
  z-index: 5;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  box-shadow: 10px 10px 20px var(--darkest-dark);
  display: flex;
  align-items: center;
  gap: 5px;
}

.alert-pop-up img {
  opacity: 60%;
  height: 13px;
}

.alert-pop-up p {
  font-family: "Azeret Mono", monospace;
  font-size: 20px;
  color: var(--dark-font);
}

.alert-pop-up.notice {
  background-color: var(--notice-bg);
  right: -50vw;
  opacity: 100%;
  animation: alert-slide-out 10s ease-in-out;
}

.alert-pop-up:hover {
  right: 0;
  opacity: 100%;
  animation: 0;
}

@keyframes alert-slide-in {
  0% {
    opacity: 70%;
  }
  10% {
    opacity: 90%;
    right: 0;
  }
  100% {
    right: 0;
  }
}

@keyframes alert-slide-out {
  0% {
    right: 0;
  }
  60% {
    right: 0;
    opacity: 70%;
  }
  100% {
    right: -50vw;
    opacity: 0%;
  }
}

.alert-pop-up.alert {
  background-color: var(--alert-bg);
  opacity: 90%;
}
