/* Calendar */

.calendar {
  height: 100%;
}

#calendar {
  height: 100%;
  padding: calc(var(--inner-box-padding) / 2);
}

.fc .fc-header-toolbar.fc-toolbar {
  padding: var(--inner-box-padding) var(--inner-box-padding) 0
    var(--inner-box-padding);
}

.fc .fc-col-header-cell-cushion {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: var(--p-size);
  color: var(--mid-font);
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
  // border-color: pink;
}

.fc-scrollgrid .fc-scrollgrid-liquid table {
  border: none;
}

// day tds
.fc-scrollgrid-sync-table table {
  border-spacing: 0px;
  border: none;
}

// Individual events
// .fc .fc-daygrid-event-harness {
//   border-spacing: 3px;
// }

.fc table {
  border-collapse: separate;
  border-spacing: 7px;
}

// Table
.fc-theme-standard .fc-scrollgrid {
  border: none;
}

// Where the numbers are
.fc .fc-daygrid-day-top {
  justify-content: center;
}

// Number dates
.fc .fc-daygrid-day-number {
  // padding: 0px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: var(--smaller-p-size);
  color: var(--light-font);
}

.fc .fc-daygrid-event {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: var(--event-p-size);
  color: var(--light-font);
}

// Days of previous/next month
.fc .fc-day-other .fc-daygrid-day-top a {
  // Where the numbers are
  color: var(--light-font);
}

// where the events are
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  // TODO This is what makes the start dates slightly unaligned
  border-spacing: 1px;
}

.fc-daygrid-day-bg {
  height: 100%;
  background-color: blue;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: var(--fc-today-bg-color, rgba(255, 255, 255, 0.11));
}
