.tempus-dominus-widget {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 20px 20px 50px var(--darkest-dark);
  background-color: var(--mid-dark);
  color: var(--light-font);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 17px;
  transform: translateX(-40px);
}

// Darker dates
.tempus-dominus-widget .date-container-decades div:not(.no-highlight).old,
.tempus-dominus-widget .date-container-decades div:not(.no-highlight).new,
.tempus-dominus-widget .date-container-years div:not(.no-highlight).old,
.tempus-dominus-widget .date-container-years div:not(.no-highlight).new,
.tempus-dominus-widget .date-container-months div:not(.no-highlight).old,
.tempus-dominus-widget .date-container-months div:not(.no-highlight).new,
.tempus-dominus-widget .date-container-days div:not(.no-highlight).old,
.tempus-dominus-widget .date-container-days div:not(.no-highlight).new,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight).old,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight).new,
.tempus-dominus-widget .time-container-hour div:not(.no-highlight).old,
.tempus-dominus-widget .time-container-hour div:not(.no-highlight).new,
.tempus-dominus-widget .time-container-minute div:not(.no-highlight).old,
.tempus-dominus-widget .time-container-minute div:not(.no-highlight).new,
.tempus-dominus-widget .time-container-second div:not(.no-highlight).old,
.tempus-dominus-widget .time-container-second div:not(.no-highlight).new {
  color: #9c9c9c4f;
}

.tempus-dominus-widget .date-container-decades div:not(.no-highlight):hover,
.tempus-dominus-widget .date-container-years div:not(.no-highlight):hover,
.tempus-dominus-widget .date-container-months div:not(.no-highlight):hover,
.tempus-dominus-widget .date-container-days div:not(.no-highlight):hover,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight):hover,
.tempus-dominus-widget .time-container-hour div:not(.no-highlight):hover,
.tempus-dominus-widget .time-container-minute div:not(.no-highlight):hover,
.tempus-dominus-widget .time-container-second div:not(.no-highlight):hover,
.tempus-dominus-widget .toolbar div:hover {
  background: var(--darkest-dark);
}

.tempus-dominus-widget .date-container-days .dow {
  color: var(--mid-font);
}

.tempus-dominus-widget .calendar-header .picker-switch {
  font-family: "Secular One", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: var(--lightest-font);
}
