/*
*= require_show 
*/

.new-wrapper .section {
  width: 50%;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

#modalDialog {
  display: none;
  left: calc(var(--menu-width) + 10px);
  top: var(--section-gap);
  z-index: 3;
  position: absolute;
  // box-shadow: 5px 10px 18px #ff0000;
  box-shadow: 15px 15px 20px var(--darkest-dark);
  width: 30%;
}

#modalDialog form input,
#modalDialog form label,
#modalDialog form textarea {
  display: block;
  font-size: 100%;
  box-sizing: border-box;
  width: 100%;
}

.new-wrapper form p:not(:last-child) {
  margin-bottom: 10px;
}

.horizontal-align {
  display: flex;
  gap: 10px;
}

#btn-add {
  width: 80%; 
  height: 8%; 
}