body{
    background-color: var(--bg);
}

.form-group{
    text-align: center;
    color: var(--lightest-font);
    justify-content: center;
    font-family: "Dongle", sans-serif;
    padding-bottom: 7px;

}

.form-control{
    width: 20%;
    height: 30px; //couldn't figure out how to make this a percentage, very annoying 
    border-radius: 6px;
    background: var(--darkest-dark);
    color: var(--lightest-font);
    border: solid var(--darkest-dark);

}

.text-center-head{
    color: var(--lightest-font);
    text-align: center;
    font-family: "Secular One", sans-serif;
}

.text-center{
    text-align: center;
    font-family: "Dongle", sans-serif;
    font-size: 150%;
}

.remember{
    font-size: 120%;
}

.links{
    font-size: 150%
}

.row{
    transform: translateY(50%);
}

