/*
*= require_show 
*/

.new-wrapper .form label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: large;
}

.new-wrapper #close .btn.btn-complete {
  margin-top: 15px;
  width: 50%;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

#modalDialog {
  display: none;
  left: calc(var(--menu-width) + 10px);
  top: var(--section-gap);
  z-index: 3;
  position: absolute;
  // box-shadow: 5px 10px 18px #ff0000;
  width: 30%;
}

#modalDialog .mid-section {
  box-shadow: 20px 20px 50px var(--darkest-dark);
}

#modalDialog form input,
#modalDialog form label,
#modalDialog form textarea {
  display: block;
  font-size: 100%;
  box-sizing: border-box;
  width: 100%;
}

.new-wrapper form p:not(:last-child) {
  margin-bottom: 10px;
}

.horizontal-align {
  display: flex;
  gap: 10px;
}
